{% extends "base.html" %}
{% block content %}
<div class="card p-4">
  <h3 class="text-center mb-4">Iniciar sesión</h3>
  <form method="POST">
    <div class="mb-3">
      <label for="nombre_usuario" class="form-label">Nombre de usuario</label>
      <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" required>
    </div>
    <div class="mb-3">
      <label for="contraseña" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="contraseña" name="contraseña" required>
    </div>
    <button type="submit" class="btn btn-beersp w-100">Entrar</button>
    <div class="text-center mt-2">
        <a href="{{ url_for('olvide_contrasena') }}" class="text-muted">¿Olvidaste tu contraseña?</a>
    </div>
  </form>
  <div class="text-center mt-3">
    ¿No tienes cuenta? <a href="{{ url_for('registro') }}">Regístrate</a>
  </div>
</div>
{% endblock %}